#logo-image {
  width: 30px;
  margin-right: 10px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #eafbea;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 800px;
  width: 100%;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}